<div class="jumbotron center">
  <div class="container">
    <h1><%= t ".h1_html" %></h1>
    <p><%= t ".para_html" %></p>
    <%= link_to t(".sign_up"), register_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
